@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    overflow: hidden;
}
h1 {
    color: rgb(31, 25, 25);
    font-variant: normal;
    text-align: center;
}
a {
    text-decoration: none;
    border: 1px solid black;
    color: black;
    padding: 2px 4px;
    border-radius: 5px;
    background-color: burlywood;
}
a:hover {
    background-color: rgb(206, 164, 109);
    color: white;
}
.profile {
    border: 2px solid black;
    border-radius: 8px;
    margin: 5px;
    height: 100vh;
    background-color: rgb(250, 242, 242);
}

/* .profile ul {
    position: relative;
    list-style: none;
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.profile ul li  {
    color: rgb(5, 5, 7);
    font-size: 25px;
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
} */
.profile .bold {
    font-weight: 400;
}
.profile .value {
    font-size: 23px;
}

.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('andreas-slotosch-w-BSFRpfTWk-unsplash.jpg');
    background-size: cover;
}
.container h1 {
    text-transform: uppercase;
}
.container p {
    padding: 0 15px;
    line-height: 30px;
    color: rgb(14, 17, 13);
    text-align: justify;
}

.link {
    margin-left: 20px;
}

.navigasi {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 7px;
    background-color: rgb(255, 205, 140);   
}
.menu{
    font-size: 18px;
    text-align: right;
    position: relative;
    list-style: none;
    display: inline;
}
.title h2{
    font-size: 25px;
    text-align: left;
    padding: 0;
    margin: 0;
}
.content {
    position: relative;
    display: flex;
}
.content p {
    margin-top:15px;
    font-size: 16px;
    padding: 5px
}
.content img{
    position: relative;
    padding: 10px;
    height: 200px;
    width: 180px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px;
    background-color: wheat;
    object-fit: cover;
}
.contact h4 {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 1.4rem;
}
.contact ul {
    margin: 0;
    padding: 10px;
}
.contact ul li{
    list-style: none;
    font-size: 18px;
    color: rgb(5, 5, 7);
    cursor: pointer;
}

footer {
    width: 96%;
    bottom: 0;
    text-align: center;
    padding: 3px;
    font-size: 10px;
    position: fixed;
    border: 2px solid black;
    margin: 4px;
    border-radius: 4px;
    background-color: rgb(255, 205, 140); 
}