@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(31, 25, 25);
    font-variant: normal;
    text-align: center;
}
a {
    text-decoration: none;
    border: 1px solid black;
    color: black;
    padding: 2px 4px;
    border-radius: 5px;
    background-color: burlywood;
}
a:hover {
    background-color: rgb(206, 164, 109);
    color: white;
}
.profile {
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 205, 140);
}
.profile hr {
    color: black;
    margin-top: 10px;
    border: 0.5px solid black;
    }

.profile ul {
    position: relative;
    list-style: none;
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.profile ul li  {
    color: rgb(5, 5, 7);
    font-size: 25px;
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.profile .bold {
    font-weight: 600;
}
.profile .value {
    font-size: 23px;
}

.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('andreas-slotosch-w-BSFRpfTWk-unsplash.jpg');
    background-size: cover;
}
.container h1 {
    text-transform: uppercase;
}
.container p {
    padding: 0 15px;
    line-height: 30px;
    color: rgb(14, 17, 13);
    text-align: justify;
}

.link {
    margin-left: 20px;
}