body {
            font-family: 'Courier New', Courier, monospace;
            font-size: 20px;
            font-variant: small-caps;
            font-style: italic;
        }
        h1 {
            color: blueviolet;
            text-align: center;
        }
        p {
            line-height: 20px;
            color: rgb(14, 17, 13);
            text-align: justify;
        }